head{
    align-items: center;
}
body{
    background-color: gainsboro;
}
button {
  margin-left: 20px; 
}
ol{
    align-items: center;
}
.title {
  display: flex;
  align-items: center; /* Centers vertically */
  justify-content: center; /* Centers horizontally */
  height: 100px; /* Set a height for the container */
}
.itemInsert {
  display: flex;
  align-items: center; /* Centers vertically */
  justify-content: center; /* Centers horizontally */
}
.locationInsert {
  display: flex;
  
  justify-content: center; /* Centers horizontally */
  padding-left: 20px;
}
.subheader {
    display: flex;
    justify-content: center;
}
.list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    padding: 10px;
    margin-bottom: 5px;
    list-style-type: none;
    background-color: brown;
}
ul {
    background: powderblue;
    list-style-type: none;
    align-items: center;
    
}

h3 {
    background-color: blue;
    margin: 0;
    padding: 0;
    align-items: center !important;
    text-align: center;
}