head{
    align-items: center;
}
body{
    background-color: ;
}
button {
  margin-left: 20px; 
}
ol{
    align-items: center;
}
.title {
  display: flex;
  align-items: center; /* Centers vertically */
  justify-content: center; /* Centers horizontally */
  height: 100px; /* Set a height for the container */
  background-color:rgb(37, 39, 39) ;
  color: white;
  
}
.itemInsert {
  display: flex;
  align-items: center; /* Centers vertically */
  justify-content: center; /* Centers horizontally */
}
.locationInsert {
  display: flex;
  
  justify-content: center; /* Centers horizontally */
  padding-left: 20px;
}
.subheader {
    display: flex;
    justify-content: center !important;
}
.list{
    display: flex;
    justify-content: center !important;
    align-items: center;
    
    padding: 10px;
    margin-bottom: 5px;
    list-style-type: none;
    width: 50%;
    margin: auto;
    flex-direction: column;
}
ul {
    list-style-type: none;
    
    
}

h3 {
    margin: 0;
    padding: 0;
    align-items: center !important;
    
}